@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 0 0% 98%;
    --ring: 24.6 95% 53.1%;
    --radius: 1.25rem;
  }
}

html {
  scrollbar-gutter: stable !important;
}

body[data-scroll-locked] {
  padding-right: 0px !important;
  margin-right: 0px !important;
}

*:focus, *:focus-visible, [data-state="open"] {
  outline: none !important;
  box-shadow: none !important;
  ring: 0 !important;
}

@keyframes toastIn {
  from { transform: translate(-50%, -150%); opacity: 0; }
  to { transform: translate(-50%, 0); opacity: 1; }
}
.animate-toast-smooth {
  position: fixed !important;
  top: 1.5rem !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  animation: toastIn 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards !important;
}